@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tilt+Prism&display=swap');

*{margin: 0;padding: 0;box-sizing: border-box;font-family: 'Raleway', sans-serif;}

main{background:#eee}

a{text-decoration: none;}


#topo{width: 100%;height: 50px;display: flex;align-items: center;justify-content: space-between;background: #fff;position: fixed;top: 0;z-index: 1000}

#social-topo{margin: 0px 5%}

#social-topo > a{margin: 0px 5px;text-decoration: none;}
#social-topo > a img{width:30px}

#logo{font-family: 'Tilt Prism', cursive;font-size: 1em;margin: 0px 5%;color: #2F0E05;font-weight: 900;text-transform: capitalize;}

#capa{width: 100%;height:450px;background-image: url(capa-2i.jpg);background-size:cover;background-position: center;display: flex;flex-direction: column;justify-content: center;align-items: center;background-attachment: fixed;}

.conteudo-capa{width:80%;text-align: center;color: #f4f4f4;border: 0px solid #fff;margin-top: 50px;}

.conteudo-capa h2{opacity: 0.5;text-transform: uppercase;font-size: 1.2em}

.conteudo-capa > p{margin-top: 10px}

#capa-texto{animation:anima-texto 3s ease;opacity: 0.8}

@keyframes anima-texto{

   0%{transform: translateX(-100%);opacity: 0}
   50%{opacity:0.2}   
   100%{transform: translateX(0%)}
}

button{width:150px;padding: 10px;cursor: pointer;border: none;background: transparent;border: 1px solid #fff;color: #fff;border-radius:50px;}

button:hover{background:#fff;color:#170000;transition: 0.5s;font-weight:bolder;}

#titulo-sabores{text-align: center;margin: 50px 0px;color: #2f0e05;}


/*Seção 1 ---------------------------------------*/

#secao-1{width: 100%;margin-bottom: 50px;display: flex;flex-direction: column;}

.sabores-rosti{display: flex;flex-direction: column;align-items: center;text-align: center;width:290px;margin: auto;background: #fff;padding: 20px;line-height:30px;margin-top: 50px}


.sabores-rosti > img{width: 100%;height:180px;}

.sabores-rosti > h2{color: #333;margin-top: 20px}

.sabores-rosti > p{color: #444}

footer{width: 100%;height:px;background:#0D0304;display: flex;flex-direction: column;align-items: center;justify-content: center}


#contato > a{color: #fff;text-decoration: underline;display: block;}


#endereco,#social-rodape,#contato{margin: 25px 0px;width: 290px;font-size:1em;color: #fff;text-align:center;padding: 10px;border-radius: 15px;background:}

#contato{border: 1px solid #fff;width:200px}

#contato > img{padding-top: 10px}

#endereco > p{margin: 10px 0px}

article{padding: 10px;font-size: 0.8em;text-align: center;}
article > a{color: #555}





@media(min-width:410px){

   #logo{margin: 0px 5%}

   .conteudo-capa{width:70%}

	.sabores-rosti{width:340px}

   .conteudo-capa h2{font-size:;}
}



@media(min-width:600px){

   main{background: }	
   
   #capa{height:450px;}

   .conteudo-capa h2{font-size:1.6em;}

   #secao-1{flex-direction: row;flex-wrap: wrap;justify-content:space-evenly;align-items: center;}

   .sabores-rosti{width:280px;height:380px;padding:10px;margin-top: 20px}

   .sabores-rosti > p{margin-top: 10px;font-family:;font-size: 0.9em}

   #texto-menor{font-size:}

   footer{height:250px;flex-direction: row;justify-content:space-evenly}
   

   #endereco,#social-rodape,#contato{width:160px;font-size: 1em;text-align: left;} 

   #contato{width:240px;display: flex;gap: 10px}

   #contato > img{padding-top: 0px} 

}


@media(min-width:760px){

   #logo{font-size: 1.5em}

	.sabores-rosti{width:350px;height:350px}

   footer{justify-content: center}

   #endereco,#social-rodape,#contato{width:170px;}

   #contato{width:270px;}

   .conteudo-capa{width:85%;border: 1px #fff;text-align: left}

   .conteudo-capa h2{font-size:2em;}
   
}


@media(min-width:850px){

	#secao-1{width: 90%;margin: auto;}

	.sabores-rosti{margin-bottom: 100px}	
}





@media(min-width:900px){
   
   #capa{height:500px;}

   #secao-1{width: 85%;margin: auto;}
}


@media(min-width:1024px){

   #social-topo > a img{width:30px}
   
   #capa{height:650px;}

   #titulo-sabores{font-size:3em}

   #secao-1{width: 100%;}

   .sabores-rosti{width:360px;margin-top: 0}

    #endereco,#social-rodape,#contato{width:260px;}

   #endereco,#contato{text-align: left;}

   .conteudo-capa{width:70%}

   .conteudo-capa > h2{font-size:2em;}

   article{float: right;margin: 0px 2%}
}

@media(min-width:1037px){
    
   .sabores-rosti{width:250px;}
}


@media(min-width:1200px){

   #titulo-sabores{}

	#secao-1{width:95%;}

   .sabores-rosti{width:250px;height: 380px}

   .conteudo-capa > h2{font-size:2.5em;}

   #social-rodape > a img{width: ;}

   
}


@media(min-width:1366px){ 

   #secao-1{width:1349px;}

   #endereco,#social-rodape,#contato{width:320px;}

    #contato{width:250px;}
}


@media(min-width:1920px){

   #endereco,#social-rodape,#contato{width:420px;}

   #contato{width:250px;}


}



@media(min-width:1922px){

	main{width: 1922px;margin: auto;}

   #topo{width: 1922px}

	#secao-1{width:1282px;margin: 0 auto;}

   .sabores-rosti{width:250px}

    
}

